---
layout: single
class: wide
---
{{ content }}

{% for author in site.data.authors %}
<div style="display:block;">
<div style="display:block;">
    {% if author[1].avatar %}
    <!--<div style="display:flex;">-->
    <div>
    <div class="author__avatar">
        {% if author[1].avatar contains "://" %}
        {% assign author_src = author[1].avatar %}
        {% else %}
        {% assign author_src = author[1].avatar | relative_url %}
        {% endif %}

        {% if author[1].home %}
        {% if author[1].home contains "://" %}
        {% assign author_link = author[1].home %}
        {% else %}
        {% assign author_link = author[1].home | relative_url %}
        {% endif %}
        <a href="{{ author_link }}">
            <img src="{{ author_src }}" alt="{{ author[1].name }}" itemprop="image">
        </a>
        {% else %}
        <img src="{{ author_src }}" alt="{{ author[1].name }}" itemprop="image">
        {% endif %}
        {% endif %}
    </div>
    <div class="author__content" style="background-color:rgba(255,255,255,0.7);">
        {% if author[1].home %}
        <a href="{{ author_link }}"><h3 class="author__name" itemprop="name">{{ author[1].name }}</h3></a>
        {% else %}
        <h3 class="author__name" itemprop="name">{{ author[1].name }}</h3>
        {% endif %}
        {% if author[1].bio %}
        <p class="author__bio" itemprop="description">
        {{ author[1].bio }}
        </p>
        {% endif %}
    </div>

    <div class="author__urls-wrapper">
        <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
        <ul class="author__urls social-icons">
            {% if author[1].location %}
            <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
                <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ author[1].location }}</span>
            </li>
            {% endif %}

            {% if author[1].uri %}
            <li>
                <a href="{{ author[1].uri }}" itemprop="url">
                    <i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}
                </a>
            </li>
            {% endif %}

            {% if author[1].email %}
            <li>
                <a href="mailto:{{ author[1].email }}">
                    <meta itemprop="email" content="{{ author[1].email }}" />
                    <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}
                </a>
            </li>
            {% endif %}
            {% if author[1].keybase %}
            <li>
                <a href="https://keybase.io/{{ author[1].keybase }}" itemprop="sameAs">
                    <i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase
                </a>
            </li>
            {% endif %}

            {% if author[1].twitter %}
            <li>
                <a href="https://twitter.com/{{ author[1].twitter }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
                </a>
            </li>
            {% endif %}

            {% if author[1].facebook %}
            <li>
                <a href="https://www.facebook.com/{{ author[1].facebook }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook
                </a>
            </li>
            {% endif %}

            {% if author[1].google_plus %}
            <li>
                <a href="https://plus.google.com/{{ author[1].google_plus }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-google-plus-square" aria-hidden="true"></i> Google+
                </a>
            </li>
            {% endif %}

            {% if author[1].linkedin %}
            <li>
                <a href="https://www.linkedin.com/in/{{ author[1].linkedin }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
                </a>
            </li>
            {% endif %}

            {% if author[1].xing %}
            <li>
                <a href="https://www.xing.com/profile/{{ author[1].xing }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING
                </a>
            </li>
            {% endif %}

            {% if author[1].instagram %}
            <li>
                <a href="https://instagram.com/{{ author[1].instagram }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram
                </a>
            </li>
            {% endif %}

            {% if author[1].tumblr %}
            <li>
                <a href="https://{{ author[1].tumblr }}.tumblr.com" itemprop="sameAs">
                    <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr
                </a>
            </li>
            {% endif %}

            {% if author[1].bitbucket %}
            <li>
                <a href="https://bitbucket.org/{{ author[1].bitbucket }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket
                </a>
            </li>
            {% endif %}

            {% if author[1].github %}
            <li>
                <a href="https://github.com/{{ author[1].github }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
                </a>
            </li>
            {% endif %}

            {% if author[1].gitlab %}
            <li>
                <a href="https://gitlab.com/{{ author[1].gitlab }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> GitLab
                </a>
            </li>
            {% endif %}

            {% if author[1].stackoverflow %}
            <li>
                <a href="https://www.stackoverflow.com/users/{{ author[1].stackoverflow }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stack Overflow
                </a>
            </li>
            {% endif %}

            {% if author[1].lastfm %}
            <li>
                <a href="https://last.fm/user/{{ author[1].lastfm }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm
                </a>
            </li>
            {% endif %}

            {% if author[1].dribbble %}
            <li>
                <a href="https://dribbble.com/{{ author[1].dribbble }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i> Dribbble
                </a>
            </li>
            {% endif %}

            {% if author[1].pinterest %}
            <li>
                <a href="https://www.pinterest.com/{{ author[1].pinterest }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest
                </a>
            </li>
            {% endif %}

            {% if author[1].foursquare %}
            <li>
                <a href="https://foursquare.com/{{ author[1].foursquare }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare
                </a>
            </li>
            {% endif %}

            {% if author[1].steam %}
            <li>
                <a href="https://steamcommunity.com/id/{{ author[1].steam }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-steam" aria-hidden="true"></i> Steam
                </a>
            </li>
            {% endif %}

            {% if author[1].youtube %}
            {% if author[1].youtube contains "://" %}
            <li>
                <a href="{{ author[1].youtube }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube
                </a>
            </li>
            {% else author[1].youtube %}
            <li>
                <a href="https://www.youtube.com/user/{{ author[1].youtube }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube
                </a>
            </li>
            {% endif %}
            {% endif %}

            {% if author[1].soundcloud %}
            <li>
                <a href="https://soundcloud.com/{{ author[1].soundcloud }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> SoundCloud
                </a>
            </li>
            {% endif %}

            {% if author[1].weibo %}
            <li>
                <a href="https://www.weibo.com/{{ author[1].weibo }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo
                </a>
            </li>
            {% endif %}

            {% if author[1].flickr %}
            <li>
                <a href="https://www.flickr.com/{{ author[1].flickr }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr
                </a>
            </li>
            {% endif %}

            {% if author[1].codepen %}
            <li>
                <a href="https://codepen.io/{{ author[1].codepen }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen
                </a>
            </li>
            {% endif %}

            {% if author[1].vine %}
            <li>
                <a href="https://vine.co/u/{{ author[1].vine }}" itemprop="sameAs">
                    <i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine
                </a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
    <hr>
</div>
    {% endfor %}
